# Environment Variables
.env
.env.production

# Output
tmp/
dist/
target/

# Dependencies
node_modules/

# Generated types
.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
